* {
  box-sizing: border-box;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.text {
  width: 100%;
  height: 30vh;
  font-size: 20px;
  resize: vertical;
}

.keyboard {
  width: 100%;
  margin-top: 20px;
}

.line {
  display: flex;
  justify-content: space-between;
}

.keyboard__key {
  position: relative;
  width: 5%;
  max-width: 50px;
  height: 50px;
  margin: 3px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: box-shadow 0.3s, background-color 0.3s;

  &:active {
    background-color: rgba(139, 139, 139, 0.2);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  }

  &_wide {
    width: 8%;
    max-width: 75px;
  }

  &_middle-wide {
    width: 15%;
    max-width: 150px;
  }

  &_ultra-wide {
    width: 33%;
    max-width: 334px;
  }
}

@media (hover: hover) {
  .keyboard__key:hover {
    background-color: rgba(139, 139, 139, 0.7);
  }
}

.active {
  background-color: rgba(139, 139, 139, 0.7);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
}

.shift {
  text-transform: uppercase;
}

.always-shift {
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 5px;

  &::after {
    font-size: 18px;
    content: '^';
  }
}
